
/*-----------------NavBar------------------*/
.navbar {
	display: inline-block;
	width: 100%;
	height: 40px;
	background-color: orange;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	border:2px solid red;
}

.wrapper{
	width:23%;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	margin-right:70px;
}
/*.login{
	border:2px solid red;
	width:50%;
}*/
.menu{
	width:100%;
	height:65px;
	display: flex;
	flex-direction:row;
	border:2px solid red;
	justify-content: space-around;
}


/*--------------------background-------------*/
.back{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:center;
	color:black;
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/c9/77/c9/c977c978de3bae0ccaa3b4951d46f829.jpg');
	background-position:center;
	background-size: cover;
	background-attachment: fixed;
	transition: 3s;
	width: 100%;
	height: 110vh;
}

.logo{
	position:absolute;
	width:20%;
	margin: -50px 0 0 0;
}
.logoT{
	width:50%;
	margin-top:0px;
	margin-left:-150px;
	transform:rotate(-10deg);
}
/*-----------------bande etape--------------*/
.steps{
	border:2px solid red;
	display:flex;
	align-items:center;
}
.steps ul{
	padding-left:0;
	margin:0;
	width:100%;
	color:white;
	font-family:'Roboto', sans-serif;
	list-style:none;
	display:flex;
	flex-direction:row;
	align-items:center;
	background-color: orange;
	justify-content:space-around;
}
.steps ul li{
	display:inline-block;
	text-decoration:none;
}

.steps ul li{
	position:relative;
	transition:0.15s;
}

.steps ul li:hover{
	color:#CB960F;
}

a{
	transition:0.15s;
	text-decoration: none;
	color:white;
}
a:hover{
	color:#CB960F;
}
